<template>
    <form ref="form" @submit.prevent="submit">
        <loading v-if="loading"/>
        <slot></slot>
    </form>
</template>

<script>
import * as _ from "lodash"
import Loading from '@components/custom/Loading'
import 'jquery-mask-plugin'

export default {
    name: "AjaxForm",
    components: {Loading},
    data: () => ({
        loading: false
    }),
    props: {
        action: {
            type: String,
            required: true
        },
        method: {
            type: String,
            required: true
        },
        success: {
            type: String
        }
    },
    mounted() {
        Array.from(this.$refs.form.getElementsByTagName('input')).forEach(input => {
            if (input.hasAttribute('mask')) {
                const mask = input.getAttribute('mask')
                const reverse = Boolean(input.getAttribute('mask-reverse') || false)
                window.$(input).mask(mask, {reverse: reverse})
            }
        })
    },
    methods: {
        submit() {
            this.disable()
            this.$http[this.method.toLowerCase()](this.action, this.collect(this.$refs.form))
                .finally(() => {
                    this.enable()
                    this.$emit('finally')
                })
                .then(() => {
                    this.clear()
                    this.enable()
                    this.$emit('success')

                    if (this.success) {
                        window[this.success]()
                    }
                })
                .catch(error => {
                    this.clear()
                    if (typeof error === 'object') {
                        Object.keys(error).forEach(key => {
                            this.$refs.form.querySelector('[data-error]').innerHTML += `<br>${error[key][0]}`
                        })
                    } else {
                        this.$refs.form.querySelector('[data-error]').innerHTML = error
                    }
                    this.enable()
                    this.$emit('error')
                })
        },
        collect() {
            let data = {}
            Array.from(this.$refs.form.getElementsByTagName('input')).forEach(input => {
                switch (input.type) {
                    case 'checkbox':
                        _.set(data, input.name, Number(input.checked))
                        break
                    default:
                        _.set(data, input.name, input.value)
                        break
                }
            })
            return data
        },
        disable() {
            this.loading = true
            Array.from(this.$refs.form.getElementsByTagName('button')).forEach(btn => {
                btn.setAttribute('disabled', 'disabled')
            })
        },
        enable() {
            this.loading = false
            Array.from(this.$refs.form.getElementsByTagName('button')).forEach(btn => {
                btn.removeAttribute('disabled')
            })
        },
        clear() {
            this.$refs.form.querySelector('[data-error]').innerHTML = ''
        }
    }
}
</script>
