<template>
    <form ref="form" @submit.prevent="submit" :class="wrapperClass">
        <loading v-if="loading" />
        <template v-for="(slot, slotName) in $slots">
            <slot :name="slotName" v-if="step === slotName"></slot>
        </template>
    </form>
</template>

<script>
import * as _ from "lodash"
import Loading from '@components/custom/Loading'

export default {
    name: "AuthForm",
    components: { Loading },
    data: () => ({
        loading: false,
        step: null,
        data: {}
    }),
    props: {
        action: {
            type: String,
            required: true
        },
        method: {
            type: String,
            required: true
        },
        redirect: {
            type: String
        },
        wrapperClass: {
            type: String
        }
    },
    mounted() {
        this.step = Object.keys(this.$slots)[0]
    },
    methods: {
        submit() {
            this.data = {
                ...this.data,
                ...this.collect()
            }

            const slotKeys = Object.keys(this.$slots)
            let slotIndex = slotKeys.findIndex(s => s === this.step)
            if (slotIndex !== slotKeys.length - 1) {
                this.step = slotKeys[++slotIndex]
                this.clear()
            } else {
                this.$refs.form.querySelector('#form-errors-list').innerHTML = ''
                this.disable()
                this.$http[this.method.toLowerCase()](this.action, this.data)
                    .finally(() => {
                        this.enable()
                        this.$emit('finally')
                    })
                    .then(() => {
                        this.clear()
                        this.enable()
                        this.$emit('success')

                        if (this.redirect) {
                            this.loading = true
                            window.location.href = this.redirect
                        }
                    })
                    .catch(errors => {
                        Array.from(this.$refs.form.getElementsByClassName('form-inputs-container')).forEach(input => {
                            input.classList.add('error_password')
                            input.classList.add('error_email')
                        })
                        if (typeof errors === 'object') {
                            this.$refs.form.querySelector('#form-errors-list').innerHTML = ''
                            Object.keys(errors).forEach(key => {
                                this.$refs.form.querySelector('#form-errors-list').innerHTML += `<li class="main_signup_error_item">${errors[key][0]}</li>`
                            })
                        }
                        this.enable()
                        this.$emit('error')
                    })
            }
        },
        collect() {
            let data = {}
            Array.from(this.$refs.form.getElementsByTagName('input')).forEach(input => {
                switch (input.type) {
                    case 'checkbox':
                        _.set(data, input.name, Number(input.checked))
                        break
                    default:
                        _.set(data, input.name, input.value)
                        break
                }
            })
            return data
        },
        disable() {
            this.loading = true
            Array.from(this.$refs.form.getElementsByTagName('button')).forEach(btn => {
                btn.setAttribute('disabled', 'disabled')
            })
            Array.from(this.$refs.form.getElementsByClassName('form-inputs-container')).forEach(input => {
                input.classList.remove('error_password')
                input.classList.remove('error_email')
            })
        },
        enable() {
            this.loading = false
            Array.from(this.$refs.form.getElementsByTagName('button')).forEach(btn => {
                btn.removeAttribute('disabled')
            })
        },
        clear() {
            Array.from(this.$refs.form.getElementsByTagName('input')).forEach(input => {
                input.value = ''
            })
        }
    }
}
</script>
