* {
    /* transition: all ease 0.3s; */
}

body.hidden_scrollbar::-webkit-scrollbar {
    width: 0;
}

.vim-logo img {
    width: auto;
}

.hero-amoeba {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.hero-left-amoeba .hero-amoeba img {
    /* width: 575px !important; */
    height: auto !important;
}

.awards__item-logo img {
    width: auto !important;
    height: auto !important;
}

.ultimate-offer .media-container.container.inverse {
    border-radius: 0px 50px 50px 50px;
}

.world-security {
    border-radius: 50px 50px 0px 0px;
    background: linear-gradient(0deg, #0C053E 0%, #1D1361 100%) !important;
}

.info-data.tagline-medium.left {
    top: -10em;
    position: relative;
}

.globe-earth {
    border-radius: 50%;
    display: block;
    padding: 35px;
    margin-top: 12%;
    width: 50%;
    height: 50%;
    max-width: 557px;
    max-height: 557px;
    position: relative;
}

.world-security .container .world-security-middle {
    top: 59% !important
}

.globe-earth-round {
    padding: 35px;
    background-image: url('../images/rounds.png');
    background-repeat: round;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.globe-earth-round.rotate {
    animation: rotate-ring ease 5s;
}

.globe-earth img {
    width: 503px;
    height: 487px;
    position: relative;
    right: 22px;
}

.info-data.tagline-medium.right {
    top: 10em;
    position: relative;
}

.hero-left-amoeba .hero-amoeba {
    top: 0rem;
}

/* Product page */
.product_banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: url('../images/bgbanner.png');
    background-size: cover;
    background-position: center;
    padding: 46px;
    gap: 28px;
}

.product_banner_left {
    max-width: 648px;
    max-height: 471px;
    display: flex;
    margin-left: 18px;
}

.product_banner_right {
    display: flex;
    flex-direction: column;
}

.product_banner_title {
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
}

.product_banner_text {
    font-size: 18px;
    color: #FFF;
    font-weight: normal;
    max-width: 600px;
    margin-top: 10px;
}

.product_banner_trust {
    display: flex;
    align-items: center;
}

.product_banner_trust_text {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    margin-left: 10px;
}

.product_banner_button {
    display: flex;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    max-width: 250px;
    padding: 17px 0;
    font-weight: 600;
    justify-content: center;
    margin-top: 24px
}

.product_banner_button:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.product_banner_button:active {
    background: #3ACA85;
}

.product_banner_button:focus {
    outline: 0;
    border: 0;
}

.product_banner_button::after {
    content: url('../images/rowgirht.png');
    margin-left: 20px;
}

.product_banner_also {
    font-size: 16px;
    color: #FFF;
    margin-top: 20px;
}

.product_banner_also span {
    border-bottom: 1px dashed #FFFFFF;
}

.product_secvices {
    background: #E2DCFF;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 110px;
}

.product_secvices_item {
    display: flex;
    width: 50%;
    margin-bottom: 14px;
}

.product_secvices_item_image {
    margin-right: 20px;
}

.product_secvices_item_about {
    max-width: 490px;
}

.product_secvices_item_about_title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.2rem;
}

.product_secvices_item_about_text {
    font-size: 14px
}

.laureats {
    padding: 100px 110px;
    padding-bottom: 200px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.laureats_left {
    display: flex;
    align-items: flex-start;
}

.laureats_left img {
    position: relative;
    top: 40px;
    z-index: 9;
}

.laureats_right {
    background: url('../images/clak.png');
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.laureats_right .laureats_item:nth-child(1) {
    position: relative;
    left: -20px;
}

.laureats_right .laureats_item:nth-child(2) {
    position: relative;
    top: 50px;
}

.laureats_right .laureats_item:nth-child(3) {
    position: relative;
    left: 20px;
    top: 80px;
}

.laureats_item {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(11, 7, 61, 0.1);
    border-radius: 10px;
    height: 178px;
    width: 366px;
    padding: 32px;
    display: flex;
}

.laureats_item_righ {
    margin-left: 20px;
}

.laureats_item_year {
    font-size: 30.6207px;
    color: #10147C;
    margin: 0;
    line-height: 37px;
}

.laureats_item_title {
    font-size: 30.6207px;
    line-height: 37px;
    color: #10147C;
}

.product_comeon {
    background: url('../images/come.jpg');
    background-position: center;
    background-size: cover;
    padding: 65px 0;
}

.product_comeon_text {
    font-size: 36px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFF;
    max-width: 900px;
    margin: auto;
}

.products_rewiew {
    padding: 100px
}

.products_rewiew_title {
    text-align: center;
    font-size: 46px;
}

.products_rewiew .carousel-slider {
    padding-top: 0
}

.products_rewiews_line {
    display: flex;
}

.products_rewiews_line_item {
    width: 278px;
    height: 339px;
}

.products_rewiews_line_item::before {
    content: url('../images/quotes.png');
    position: absolute;
    right: 0;
}

.products_rewiews_line_item_title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
}

.products_rewiews_line_item_rating {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.products_rewiews_line_item .products_rewiews_line_item_rating img {
    width: 20px;
    height: 19px;
}

.products_rewiews_line_item_tex {
    color: #2A3145
}

.products_rewiews_person {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.products_rewiews_line_item .products_rewiews_person img {
    width: 33px;
    height: 33px;
}

.products_rewiews_line_item .products_rewiews_person span {
    color: #2A3145;
    font-size: 20px;
    font-weight: 600;
}

.products_rewiews_line.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
}

.products_rewiews_line.owl-carousel .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products_rewiews_line.owl-carousel .owl-nav button {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products_rewiews_line.owl-carousel .owl-nav button span {
    font-size: 40px;
    position: relative;
}

.products_rewiews_line.owl-carousel .owl-nav button.owl-prev {
    background: #fff;
    border: 1px solid rgba(78, 34, 208, 0.3);
}

.products_rewiews_line.owl-carousel .owl-nav button.owl-prev span {
    right: 1px;
}

.products_rewiews_line.owl-carousel .owl-nav button.owl-next {
    background: #4E22D0;
    box-shadow: 0px 10px 30px rgba(78, 34, 208, 0.3);
}

.products_rewiews_line.owl-carousel .owl-nav button.owl-next span {
    left: 1px;
    bottom: 1px;
    color: #fff;
}

.products_rewiew_button button {
    display: flex;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgb(68 237 156 / 20%);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    width: 250px;
    padding: 17px 0;
    font-weight: 600;
    justify-content: center;
    margin-top: 24px;
}

.products_rewiew_button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.products_rewiew_button button::after {
    content: url(/images/rowgirht.png);
    margin-left: 20px;
}

.products_rewiew_button button:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.products_rewiew_button button:active {
    background: #3ACA85;
}

.products_rewiew_button button:focus {
    outline: 0;
    border: 0;
}

.product_faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_faq_container {
    background: #FFFFFF;
    max-width: 1100px;
    width: 80%;
    overflow-y: hidden;
}

.product_faq_item {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
    height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    z-index: 9;
}

.product_faq_question {
    color: #10147C;
    font-size: 24px;
    line-height: 29px;
    padding: 35px 60px;
    position: relative;
    z-index: 9;
    background: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.product_faq_question:hover {
    cursor: pointer;
    color: #4E22D0;
    box-shadow: 5px 40px 60px rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.product_faq_question::after {
    content: "";
    background: url('../images/plus.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border: 1px solid #4E22D0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
}

.product_faq_question:hover::after {
    background-image: url('../images/plushover.png');
    background-color: #4E22D0;
    box-shadow: 0px 20px 30px rgba(78, 34, 208, 0.3);
    transition: all ease 0.3s;
}

.product_faq_question.active::after {
    transform: rotate(135deg);
    background-image: url('../images/plushover.png');
    background-color: #4E22D0;
    box-shadow: 15px -20px 30px rgb(78 34 208 / 30%);
}

.product_faq_answer {
    margin: 0;
    padding: 35px 60px;
    position: relative;
    z-index: 1;
    /* display: none; */
}

.product_howwork {
    margin-top: 100px;
    padding: 0 112px;
}

.product_howwork_header {
    background: #F8F8FC;
    border-radius: 50px 50px 0px 0px;
    padding: 60px 82px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.product_howwork_header_item {
    display: flex;
    flex-basis: 37%;
}

.product_howwork_header_item_image {
    margin-right: 20px;
}

.product_howwork_header_item_title {
    margin-bottom: 0;
}

.product_howwork_header_item_text {
    margin-bottom: 0;
    max-width: 362px;
}

.product_howwork_main {
    background: linear-gradient(180deg, #0C053E 2.05%, #261C6A 100.05%), #222161;
    border-radius: 0px 0px 50px 50px;
    padding: 60px 81px;
}

.product_howwork_main_title {
    font-size: 46px;
    color: #FFF;
    text-align: center;
}

.product_howwork_main_container {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.product_howwork_main_list {
    list-style: none;
    padding-left: 0;
}

.product_howwork_main_list_item {
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 433px;
}

.product_howwork_main_list_item::before {
    content: "";
    background: url('../images/howwork/listmarker.png');
    background-size: cover;
    display: block;
    width: 27px;
    height: 20px;
    margin-right: 20px;
}

.product_howwork_main_container_about {
    max-width: 431px;
    font-size: 18px;
    color: #FFFFFF;
    font-style: normal;
    line-height: 32px;
}

.product_howwork_main_more_btn {
    display: flex;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgb(68 237 156 / 20%);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    width: 250px;
    padding: 17px 0;
    font-weight: 600;
    justify-content: center;
    margin-top: 24px;
}

.product_howwork_main_more_btn::after {
    content: url(/images/rowgirht.png);
    margin-left: 20px;
}

.product_howwork_main_more_btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 40px rgb(67 237 156 / 40%);
}

.product_howwork_main_more_btn:active {
    background: #3ACA85;
}

.product_howwork_main_more_btn:focus  {
    outline: 0;
    border: 0;
}

.product_youdevice {
    display: flex;
    justify-content: space-between;
    padding: 112px;
}

.product_youdevice_title {
    font-size: 48px;
}

.product_youdevice_text {
    font-size: 18px;
}

.product_youdevice_text {
    max-width: 599px;
}

.product_youdevice_check {
    display: flex;
}

.product_youdevice_check img {
    height: 51px;
    width: 58px;
}

.product_youdevice_check span {
    color: #10147C;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: -7px;
    margin-left: 10px;
}

.product_youdevice_buybutton {
    display: flex;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgb(68 237 156 / 20%);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    width: 250px;
    padding: 17px 0;
    font-weight: 600;
    justify-content: center;
    margin-top: 24px;
}

.product_youdevice_buybutton::after {
    content: url(/images/rowgirht.png);
    margin-left: 20px;
}

.product_youdevice_buybutton:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 40px rgb(67 237 156 / 40%);
}

.product_youdevice_buybutton:active  {
    background: #3ACA85;
}

.product_youdevice_buybutton:focus  {
    outline: 0;
    border: 0;
}

.product_youdevice_also {
    color: #10147C
}

.product_youdevice_also span {
    border-bottom: 1px dashed #10147C;
}

.product_youdevice_right {
    background: url('../images/clak.png');
    background-size: 100% 100%;
    padding: 68px 51px 68px 72px;
}

.product_slider_privacy_head {
    padding: 0 112px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.product_slider_privacy_title {
    max-width: 732px;
    font-size: 46px;
    margin-bottom: 0;
}

.product_slider_privacy_head a span {
    color: #261C6A;
    line-height: 24px;
    border-bottom: 1px solid #261C6A;
}

.product_slider_privacy_head a::after {
    content: url('../images/arrowright.png');
    margin-left: 12px;
}

.buy_main_choose {
    background: url('../images/family.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy_main_choose_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buy_main_choose_title {
    color: #FFF;
    font-size: 48px;
    text-align: center;
}

.buy_main_choose_available {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.buy_main_choose_available span {
    color: #FFF;
    font-size: 20px;
}

.buy_main_choose_available img {
    height: max-content;
}

.buy_main_choose_items {
    display: flex;
    gap: 40px;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.buy_main_choose_item {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(11, 7, 61, 0.1);
    border-radius: 20px;
    padding: 40px 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 342px;
    position: relative;
}

.buy_main_choose_item.best::before {
    content: "BEST CHOISE";
    position: absolute;
    top: -20px;
    background: #44ED9C;
    border-radius: 21px;
    color: #10147C;
    padding: 10px 25px
}

.buy_main_choose_item_title {
    font-size: 24px;
    margin-bottom: 20px;
}

.buy_main_choose_item_devices {
    font-size: 14px;
    margin-bottom: 0;
}

.buy_main_choose_item_price {
    font-size: 61px;
    font-weight: 600;
    color: #4E22D0;
    margin-bottom: 20px;
    display: flex;
    line-height: 1;
}

.buy_main_choose_item_price.euro::before {
    content: "€";
    font-size: 26px;

}

.buy_main_choose_item_buybutton {
    background: #3A1F9E;
    box-shadow: 0px 10px 30px rgba(78, 34, 208, 0.3);
    border-radius: 28px;
    color: #FFF;
    padding: 16px 35px;
}

.buy_main_choose_item_undertex {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
}

.buy_main_choose_item_buybutton:hover {
    background: #2E197C;
    box-shadow: 0px 14.7054px 29.4108px rgba(58, 31, 158, 0.4);
    border-radius: 28px;
}

.buy_main_choose_item_buybutton:focus {
    outline: 0;
}

.buy_main_choose_item_buybutton:active {
    background: #3A1F9E;
    outline: 0;
}

.buy_main .product_slider_privacy {
    margin-top: 100px;
}

.confirm_popup {
    position: fixed;
    top: 0;
    background: #2a3145a3;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
    opacity: 0;
    /* display: flex; */
    justify-content: center;
    overflow-y: scroll;
    padding: 100px 0;
}

.confirm_popup::-webkit-scrollbar {
    /* width: 0; */
}

.confirm_popup_container {
    background: #FFFFFF;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    max-width: 638px;
    height: max-content;
    border-radius: 20px;
    align-items: center;
}

.confirm_popup_container:hover {
    border: 1px solid #4E22D0;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(11, 7, 61, 0.1);
}

.confirm_popup_container_firstline {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    width: 100%;
}

.confirm_popup_container_firstline span {
    color: #10147C;
    font-size: 24px;
    font-weight: bold;
}

.confirm_popup_container_billing {
    padding: 0 60px 0 60px;
}

.confirm_popup_container_billing_title {
    color: #2A3145;
    font-size: 14px;
}

.confirm_popup_container_billing_inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.confirm_popup_container_billing_inputs input {
    background: #F3F3F3;
    border-radius: 30px;
    border: 0;
    padding: 19px 27px
}
.confirm_popup_container_billing_inputs input::placeholder {
    color: #999999;
    font-size: 14px;
}

.confirm_popup_container_billing_inputs input:focus {
    outline: 0;
}

.confirm_popup_container_billing_inputs #billing-name {
    flex-basis: 45%;
}

.confirm_popup_container_billing_inputs #billing-lastname {
    flex-basis: 45%;
}

.confirm_popup_container_billing_inputs #billing-email {
    flex-basis: 100%;
}

.confirm_popup_container_billing_inputs #billing-company-name {
    flex-basis: 100%;
}

.confirm_popup_container_billing_inputs #billing-job-title {
    flex-basis: 100%;
}

.confirm_popup_container_billing_inputs #billing-phone-container {
    flex-basis: 100%;
    background: #F3F3F3;
    padding: 0 27px;
    border-radius: 30px;
    display: flex;
}

.confirm_popup_container_billing_inputs #billing-phone-container select {
    border: none;
    background: none;
}

.confirm_popup_container_billing_inputs #billing-phone-container select:focus {
    border: none;
    outline: none;
}

.confirm_popup_container_billing_inputs #billing-phone-container input {
    padding-left: 0;
    width: 100%;
}

.confirm_popup_container_billing_inputs #billing-country {
    flex-basis: 65%;
}

.confirm_popup_container_billing_inputs #billing-zip {
    flex-basis: 30%;
    max-width: 145px;
}

.confirm_popup_container_billing_checkbox {
    position: relative;
    top: 2px;
}

.confirm_popup_container_billing_label {
    font-size: 14px;
    color: #2A3145;
    margin-left: 5px;
}

.confirm_popup_container_info {
    color: #999999;
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.confirm_popup_container_info::before {
    content: "";
    display: block;
    background: url('../images/securepaymentline.png');
    width: 19px;
    height: 20px;
    position: relative;
    top: -2px;
    margin-right: 12px;
}

.confirm_popup_container_cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 60px 40px 60px;
    border-bottom: 1px solid #4E22D0;
}

.confirm_popup_container_cart input {
    background: #F3F3F3;
    border-radius: 30px;
    border: 0;
    padding: 19px 27px
}
.confirm_popup_container_cart input::placeholder {
    color: #999999;
    font-size: 14px;
}

.confirm_popup_container_cart input:focus {
    outline: 0;
}

.confirm_popup_container_cart #cart-number {
    flex-basis: 100%;
}

.confirm_popup_container_cart #billing-date {
    flex-basis: 45%
}

.confirm_popup_container_cart #billing-cvc {
    flex-basis: 45%
}

.confirm_popup_container_price {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}

.confirm_popup_container_price_text {
    font-size: 20px;
    color: #000000;
}

.confirm_popup_container_price_num {
    color: #4E22D0;
    font-size: 47px;
}

.confirm_popup_container_price_num sub {
    position: relative;
    top: 0px;
    left: -10px;
    font-size: 60%;
}

.confirm_popup_container_button {
    display: flex;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    max-width: 250px;
    padding: 17px 0;
    font-weight: 600;
    justify-content: center;
    margin-top: 24px;
    width: 250px;
}

.confirm_popup_container_button:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.confirm_popup_container_button:active {
    background: #3ACA85;
}

.confirm_popup_container_button:focus {
    outline: 0;
    border: 0;
}

.confirm_popup_container_button::after {
    content: url('../images/rowgirht.png');
    margin-left: 20px;
}

input.error_confirm {
    border: 2px solid #F03836;
    color: #F03836;
}

input.error_confirm::after {
    content: "";
    background: url('../images/error.png');
    width: 20px;
    height: 20px;
}

.confirm_popup_container_error {
    margin-bottom: 0;
    margin-top: 20px;
    color: #F03836;
    font-size: 20px;
}

.saccefull_payment {
    background: #FFFFFF;
    border-radius: 20px;
    width: 638px;
    padding: 40px
}

.saccefull_payment:hover {
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(11, 7, 61, 0.1);
}

.saccefull_payment_title {
    color: #44ED9C;
    display: flex;
    width: 100%;
    justify-content: center;
}

.saccefull_payment_title::before {
    content: "";
    display: block;
    background: url('../images/ckechk-circle.png');
    width: 40px;
    height: 40px;
}

.saccefull_payment_container {
    display: flex;
    flex-direction: column;
}

.saccefull_payment_container_text {
    color: #2A3145;
    font-size: 14px;
    margin-bottom: 0;
}

.saccefull_payment_container_ft {
    font-size: 24px;
}

.saccefull_payment_container_st {
    font-size: 20px;
}

.saccefull_payment_container_link {
    border-bottom: 1px solid #4E22D0;
    width: max-content;
}

.saccefull_payment_container_button {
    display: flex;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    max-width: 250px;
    padding: 17px 0;
    font-weight: 600;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    width: 250px;
}

.saccefull_payment_container_button:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.saccefull_payment_container_button:active {
    background: #3ACA85;
}

.saccefull_payment_container_button:focus {
    outline: 0;
    border: 0;
}

.saccefull_payment_container_button::after {
    content: url('../images/rowgirht.png');
    margin-left: 20px;
}

.main_blog_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/bannerblog.jpg');
    padding: 150px 0;
}

.main_blog_banner_title {
    font-size: 48px;
    color: #FFF;
}

.main_blog_banner_text {
    max-width: 830px;
    font-style: normal;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}

.blog_articles_menu {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -45px;
}

.blog_articles_menu_items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    box-shadow: 0px 8px 30px 1px rgba(202, 200, 213, 0.4);
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 0;
}

.blog_articles_menu_item {
    width: 304px;
    height: 86px;
    /* margin: 10px 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_articles_menu_item + .blog_articles_menu_item {
    border-left: 1px solid #CCCCCC;
}

.blog_articles_menu_item:hover {
    cursor: pointer;
}

.blog_articles_menu_item.all_blogs {
    color: #10147C;
    font-size: 24px;
    text-decoration-line: underline;
    font-weight: bold;
}

.blog_articles_menu_item.vim_news {
    color: #4E22D0;
    font-weight: 600;
    font-size: 20px;
}

.blog_articles_menu_item.vim_news::before {
    content: "";
    width: 32px;
    height: 32px;
    background: url('../images/ant-design_security-scan-outlined.png');
    margin-right: 5px;
}

.blog_articles_menu_item.industry_news {
    color: #44ED9C;
    font-size: 20px;
    font-weight: 600;
}

.blog_articles_menu_item.industry_news::before {
    content: "";
    width: 32px;
    height: 32px;
    background: url('../images/ph_newspaper.png');
    margin-right: 5px;
}

.blog_articles_menu_item.releases {
    color: #F03836;
    font-weight: 600;
    font-size: 20px;
}

.blog_articles_menu_item.releases::before {
    content: "";
    width: 32px;
    height: 32px;
    background: url('../images/ic_outline-new-releases.png');
    margin-right: 5px;
}

.blog_articles_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
    padding: 0 112px;
}

.blog_articles_item {
    flex-basis: 30%;
    height: 530px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 60px;
    position: relative;
}

.blog_articles_item.active {
    display: block;
}

.blog_articles_item.hidden {
    display: none;
}

.blog_articles_item:hover {
    box-shadow: 0px 7.35269px 36.7634px 0.735269px #CAC8D5;
    cursor: pointer;
}

.blog_articles_item_image {
    width: 100%;
}

.blog_articles_item_tag {
    font-size: 18px;
    width: max-content;
    margin: auto;
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    padding: 6px 39px 0 39px;
    font-size: 18px;
    margin-top: -30px;
    position: relative;
}

.blog_articles_item_tag.vim_news {
    color: #4E22D0;
}

.blog_articles_item_tag.releases {
    color: #F03836;
}

.blog_articles_item_tag.industry_news {
    color: #44ED9C;
}

.blog_articles_item_title {
    color: #10147C;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

.blog_articles_item_text {
    padding: 0 20px;
    font-weight: normal;
    font-size: 14px;
    color: #2A3145;
    margin-bottom: 0;
}

.blog_articles_item_infoline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
}

.blog_articles_item_infoline span {
    color: #999999;
    font-weight: normal;
    font-size: 14px;
}

.article_breadcrumbs {
    padding: 0 112px;
    margin-top: 20px;
}

.article_breadcrumbs_items {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.article_breadcrumbs_item {
    display: flex;
    align-items: center;
}

.article_breadcrumbs_item + .article_breadcrumbs_item::before {
    content: "";
    background: url('../images/breadcrumbs.png');
    background-size: 100% 100%;
    height: 8px;
    width: 4px;
    margin: 0 8px;
}

.article_breadcrumbs_item a {
    font-size: 12px;
    color: #10147C;
    text-decoration-line: underline;
}

.article_breadcrumbs_item span {
    font-size: 12px;
    color: #999999;
}

.article_tag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article_tag_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #4E22D0;
    font-weight: 600;
}

.article_main_lasttag {
    display: flex;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.article_tag .article_tag_text.news::before,
.article_main_lasttag .article_tag_text.news::before{
    background: url('../images/ant-design_security-scan-outlined.png');
}

.article_tag .article_tag_text.industry::before,
.article_main .article_main_lasttag .article_tag_text.industry::before {
    background: url(../images/ph_newspaper.png);
}

.article_tag .article_tag_text.releases::before,
.article_main .article_main_lasttag .article_tag_text.releases::before{
    background: url(../images/ic_outline-new-releases.png);
}

.article_main .article_tag .article_tag_text::before,
.article_main .article_main_lasttag .article_tag_text::before{
    content: "";
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 23px;
    height: 28px;
    margin-right: 5px;
}

.article_thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 159px;
}

.article_thumb_title {
    color: #10147C;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.article_thumb_text {
    font-size: 20px;
    text-align: center;
    color: #2A3145;
    font-weight: 500;
    max-width: 958px;
}

.article_thumb_buy {
    display: flex;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    width: 260px;
    height: 61px;
    padding: 17px 0;
    font-weight: 600;
    justify-content: center;
    margin-top: 24px
}

.article_thumb_buy:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.article_thumb_buy:active {
    background: #3ACA85;
}

.article_thumb_buy:focus {
    outline: 0;
    border: 0;
}

.article_thumb_buy::after {
    content: url('../images/rowgirht.png');
    margin-left: 20px;
}

.article_main_image {
    width: 100%;
    margin-top: 80px;
}

.article_main_image img {
    width: inherit;
}

.article_main_section_title {
    font-size: 46px;
    color: #10147C;
    font-weight: bold;
    line-height: 56px;
    margin-bottom: 0;
}

.article_main_section {
    display: flex;
    margin-top: 40px;
    margin-left: 112px;
}

.article_main_section_left {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.article_main_section_text {
    color: #2A3145;
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
}

.article_main_section_text + .article_main_section_title {
    margin-top: 40px;
}

.article_main_section_checkblock>p:nth-child(2n+1) {
    background-color: #4d22d010;
}

.article_main_section_checkblock>p {
    padding: 14px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.article_main_section_checkblock>p>span:hover,
.article_main_section_checkblock>p:hover,
.article_main_section_checkblock>p>input:hover {
    cursor: pointer;
}

.article_main_section_checkblock>p>span {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 14px;
}

.article_main_section_checkbox {
    transition: all ease 0.3s;
}

.article_main_section_checkbox input,
.article_main_section_radio input {
    display: none;
}

.article_main_section_checkbox:before {
    content: "";
    width: 18px;
    height: 17px;
    border: 2px solid #F03836;
    border-radius: 3px;
    position: relative;
    top: -1px;
}

.article_main_section_checkbox.checked:before {
    background: url(../images/checkbox.png);
    background-position: center;
    background-size: 17px 18px;
}

.article_main_section_checkbox:hover:before,
.article_main_section_radio:hover::before {
    outline: 5px solid #4d22d010;
}

p.article_main_section_checkbox.disabled:before {
    background: url(../images/checkdisabled.png);
    background-position: center;
    background-size: 17px 18px;
    border-color: transparent;
}

.article_main_section_radio::before {
    content: "";
    width: 20px;
    height: 19px;
    border: 2px solid #F03836;
    border-radius: 50%;
    position: relative;
    top: -1px;
}

.article_main_section_radio.checked::before {
    background: url(../images/radiochecked.png);
    background-position: center;
    border-color: transparent;
}

p.article_main_section_radio.disabled,
p.article_main_section_checkbox.disabled
 {
    pointer-events: none;
}

p.article_main_section_radio.disabled::before {
    border-color: #FFB4B3;;
}

.article_main_citation {
    padding-left: 38px;
    margin-left: 90px;
    border-left: 4px solid #4E22D0;
    margin-top: 20px;
}

.article_main_additionally_image {
    width: 100%;
}

.article_main_additionally_image img {
    width: 100%;
}

.article_main_additionally_image + .article_main_section_title {
    margin-top: 40px;
}

.article_main_list {
    list-style: number;
}
.article_main_list li span,
.article_main_list li::marker {
    color: #F03836;
}
.article_main_list li p {
    margin-left: -15px;
}

.article_main_section_left hr {
    color: #10147C;
    width: 100%;
    height: 1px;
}

.article_main_section_author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_main_section_author_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_main_section_author_left p {
    margin-bottom: 0;
    color: #000;
    font-size: 20px;
    margin-left: 10px;
}

.article_main_section_author_right {
    display: flex;
    gap: 10px;
}

.article_main_section_right {
    max-width: 30%;
    overflow-y: hidden;
}

.article_main_section_right .slider-controls.slider-articlesDefault-controls {
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 40px;
}

.article_main_section_right .slider-controls.slider-articlesDefault-controls button{
    z-index: 99999;
}

.article_main_section_right .carousel-slider .tns-nav{
    display: none;
}

.article_main_section_right_button {
    display: flex;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    width: 260px;
    height: 61px;
    padding: 17px 0;
    font-weight: 600;
    justify-content: center;
    margin: auto;
    margin-top: 24px;
}

.article_main_section_right_button:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.article_main_section_right_button:active {
    background: #3ACA85;
}

.article_main_section_right_button:focus {
    outline: 0;
    border: 0;
}

.article_main_section_right_button::after {
    content: url('../images/rowgirht.png');
    margin-left: 20px;
}

.article_main_section_right_title {
    max-width: 161px;
    text-align: center;
    margin: auto;
}

.header_language {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 40px;
    overflow: hidden;
}

.header_first_line_lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 15%;
}
.header_first_line_lang img {
    width: 21px;
    height: 15px;
    margin-right: 5px;
}
.header_first_line_lang button {
    outline: 0;
    border: 0;
    background: transparent;
    font-size: 18px;
    color: #4e22d0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.8rem;
}
.header_first_line_lang button:hover {
    cursor: pointer;
}

.header_first_line_lang_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -25px;
}

.header_first_line_lang_buttons_container {
    position: absolute;
    height: 27px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
}
.header_first_line_lang_buttons_container.open {
    height: max-content;
    background: #fff;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}

/* Admin pages */

.logged .header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged .header-line .header-line_user {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.header-admin .header-line > a > img {
    margin: 19px 40px;
}

.logged .header-line_user_img {
    margin-right: 7px;
}

.logged .header-line .header-line_user .header-line_user_login {
    font-size: 18px;
    color: #000000;
}

.logged .header-line .header-line_user:hover {
    cursor: pointer;
}

body.logged {
    background: #F3F7FF;
}

.logged .header-admin {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.main_login_container {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: 90px auto;
}

.main_login_container_center {
    width: 48%;
    padding: 0 55px;
    display: flex;
    flex-direction: column;
}

.main_login_container_first_line {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.main_login_container_title {
    font-weight: bold;
    font-size: 24px;
}

.main_login_container_signup {
    color: #4E22D0;
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
}

.main_login_container_input_password_container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.password_show_btn {
    position: absolute;
    right: 15px;
    padding: 5px;
}

.password_show_btn::after {
    content: "";
    background: url(../images/adminpanel/showpass.png);
    width: 16px;
    height: 14px;
    background-size: contain;
    display: block;
}

.password_show_btn:focus {
    outline: 0;
}

.password_show_btn:hover {
    cursor: pointer;
}

.main_login_container_input_email_container {
    margin-bottom: 20px;
    position: relative;
}

.main_login_container_input_email,
.main_login_container_input_password {
    background: #F3F3F3;
    border-radius: 25px;
    border: 0;
    font-size: 14px;
    padding: 14px 19px;
    width: 100%;
}

.main_login_container_input_email:focus,
.main_login_container_input_password:focus {
    border: 1px solid #4E22D0;
    outline: 0;
}

.main_login_container_input_password_container.error_password > input.main_login_container_input_password,
.main_login_container_input_email_container.error_email > input.main_login_container_input_email {
    border: 1px solid #F03836;
}

.main_login_container_center > input {
    margin-bottom: 20px;
}

.main_login_container_center input:focus {
    border: 0;
    outline: 0;
}

.main_login_container_last_line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main_login_forgot_password {
    color: #4E22D0;
    font-size: 18px;
    text-decoration-line: underline;
}

.main_login_continue_btn {
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px 40px;
    margin: auto;
    transition: all ease 0.3s;
}

.main_login_continue_btn:focus {
    outline: 0;
}

.main_login_continue_btn:hover {
    cursor: pointer;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
    transform: scale(1.05);
}

.main_login_continue_btn:active {
    background: #3ACA85;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.main_login_continue_btn.disabled {
    background: #CCCCCC;
}

.main_login_continue_btn.disabled:hover {
    cursor: not-allowed;
}

.main_login_container_checkbox_container {
    display: flex;
    align-items: center;
}

.main_login_container_checkbox_container label {
    margin-bottom: 0;
    font-size: 14px;
    color: #443E3E;
    margin-left: 10px;
}

.main_login_container_left,
.main_login_container_right {
    max-width: 323px;
    width: 26%;
}

.main_login_container_right {
    background: linear-gradient(180deg, #0C053E 2.05%, #261C6A 100.05%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 29px;
}

.main_login_container_right a {
    background: #3E357A;
    box-shadow: 0px 10px 20px rgba(12, 5, 62, 0.6);
    border-radius: 30px;
    width: 272px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    padding: 11px 0;
    position: relative;
    transition: all ease 0.3s;
}

.main_login_container_right a:hover {
    background: #6358A8;
    box-shadow: 0px 10px 20px rgba(48, 39, 116, 0.6);
    transform: scale(1.05);
}

.main_login_google::before {
    content: "";
    display: block;
    background: url(../images/adminpanel/flat-color-icons_google.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 9px;
}

.main_login_facebook::before {
    content: "";
    display: block;
    background: url(../images/adminpanel/vector-facebook.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 9px;
}

.main_signup_container > * {
    transition: all ease 0.3s;
}

.main_signup_container {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: 90px auto;
}

.main_signup_container_left {
    width: 37%;
}

.main_signup_container_right {
    width: 63%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.main_signup_container_first_line {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main_signup_container_title {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.main_signup_container_signup {
    color: #4E22D0;
    text-decoration-line: underline;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.main_signup_container_signup::before {
    content: "";
    background: url(../images/adminpanel/arrowleft453.png);
    width: 8px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.main_signup_container_info {
    width: 100%;
    text-align: start;
}

.main_signup_container_input_container {
    width: 100%;
    display: flex;
    position: relative;
    max-width: 460px;
    align-items: center;
}

.main_signup_container_input_container.error > .main_signup_container_input_email:focus {
    border: 1px solid #F03836;
}

.main_signup_container_input_container.error > .main_signup_container_input_email::placeholder {
    color: #F03836;
}

.main_signup_container_input_container.error::after {
    content: "";
    display: block;
    background: url(../images/adminpanel/error_warning0921.png);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 20px;
}

.main_signup_container_input_email {
    width: 100%;
    max-width: 460px;
    background: #F3F3F3;
    border-radius: 25px;
    outline: 0;
    border: 0;
    padding: 14px 19px;
}

.main_signup_container_input_email:focus {
    border: 1px solid #4E22D0;
    border-radius: 25px;
}

.main_signup_error_info {
    display: none;
    margin-top: 10px;
    font-size: 12px;
    color: #F03836;
    max-width: 440px;
    margin-bottom: 0;
}

.main_signup_error_info a {
    color: #4E22D0;
    font-size: 12px;
    text-decoration-line: underline;
}

.main_signup_container_input_container.error ~ .main_signup_error_info {
    display: block;
}

.main_signup_container_agree {
    width: 100%;
    text-align: start;
    margin-top: 20px;
}

.main_signup_container_agree a {
    color: #4E22D0;
    font-size: 14px;
    text-decoration-line: underline;
}

.main_mailsended_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main_mailsended_info_title {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

.main_mailsended_info_text {
    color: #000;
    font-size: 14px;
}

.main_signup_error_password {
    width: 100%;
    margin-top: 10px;
}

.main_login_container_input_password_container.error_password ~ .main_signup_error_password .main_signup_error_item {
    color: #F03836;
}

.main_signup_error_list {
    padding-left: 25px;
    margin-top: 20px;
}

.main_signup_error_item {
    color: #999999;
    font-size: 14px;
}

.main_page_first_line {
    max-width: 1250px;
    margin: auto;
    width: 90%;
}

.main_page_menu {
    max-width: 1250px;
    margin: auto;
}

.main_page_first_line_title {
    font-weight: bold;
    font-size: 46px;
    color: #000000;
    margin-bottom: 20px;
}

.main_page_first_line_text {
    font-size: 20px;
    color: #000000;
}

.main_page_menu_items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 90px;
    padding: 0;
}

.main_page_menu_item {
    flex-basis: 49%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: #FFFFFF;
    padding: 49px 25px;
    display: flex;
    transition: all ease 0.3s;
    height: auto;
}

.main_page_menu_item:hover {
    box-shadow: 0px 7.35269px 36.7634px 0.735269px #CAC8D5;
    border-radius: 10px;
}

.main_page_menu_item_img {
    margin-right: 50px;
}

.main_page_menu_item_container_link {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.main_page_menu_item_container_link:hover {
    color: #4E22D0;
    text-decoration-line: underline;
}

.main_page_menu_item_container_info {
    font-size: 20px;
    color: #000000;
    margin-bottom: 0;
}

.main_page_product_empty {
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 90px;
    padding: 50px;
}

.main_page_product_empty_text {
    font-size: 20px;
    color: #000;
}

.main_page_product_empty_btn {
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 40px;
    font-weight: 700;
    transition: all ease 0.3s;
}

.main_page_product_empty_btn:hover {
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
    transform: scale(1.1);
}

.main_page_product_empty_btn:focus {
    outline: none;
}

.main_page_product_empty_btn:active {
    background: #3ACA85;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.main_page_product_list {
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 90px;
}

.main_page_product_list_header {
    display: flex;
    background: #10147C;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    padding: 18px 0px;
}

.main_page_product_list_header_item {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

/* Rows for product list */
.main_page_product_list_container_item.product {
    position: relative;
}

.main_page_product_list_container_item.product::after {
    content: "";
    background: url(../images/adminpanel/arrowdownblue839.png);
    background-size: 100% 100%;
    /* margin-left: 10px; */
    width: 12px;
    height: 6px;
    margin-left: -20px;
    z-index: 1;
    transition: all ease 0.3s;
}

.checked .main_page_product_list_container_item.product::after {
    transform: rotate(180deg);
}

.main_page_product_list_container_item.product:hover::after {
    cursor: pointer;
}

.main_page_product_list_header_item.product,
.main_page_product_list_container_item.product {
    flex-basis: 21%;
    padding-left: 30px;
}

.main_page_product_list_header_item.product {
    padding-left: 60px;
}

.main_page_product_list_header_item.devices,
.main_page_product_list_container_item.devices {
    flex-basis: 40%;
    text-align: center;
}

.main_page_product_list_header_item.validity,
.main_page_product_list_container_item.validity {
    flex-basis: 25%;
    text-align: center;
}

.

.main_page_product_list_header_item.price,
.main_page_product_list_header_item.price {
    flex-basis: 15%;
    text-align: center;
}

.main_page_product_list_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_page_product_list_container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 70px;
    padding-top: 10px;
}

.main_page_product_list_container + .main_page_product_list_container {
    border-top: 1px solid #EEEEEE;
}

.product_list_item_name {
    color: #10147C;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
    padding-right: 30px;
    z-index: 9;
}

.product_list_item_name:hover {
    cursor: pointer;
}

.main_page_product_list_container_item.product {
    display: flex;
    align-items: center;
}

.main_page_product_list_container_item.devices {
    color: #2A3145;
    font-size: 18px;
}

.main_page_product_list_container_item.validity {
    color: #2A3145;
    font-weight: 600;
    font-size: 20px;
}

.main_page_product_list_container_item.price {
    color: #4E22D0;
    font-size: 36px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 1;
}

.main_page_product_list_container_item.price,
.main_page_product_list_header_item.price {
    flex-basis: 15%;
}

.main_page_product_list_container_item.price .currency {
    font-size: 24px;
    margin-right: 2px;
}

.product_list_item_checkbox {
    margin-bottom: 5px;
    margin-left: -33px;
    margin-right: 20px;
}

.product_list_item_checkbox:hover {
    cursor: pointer;
}

.main_page_product_list_footer_btn {
    color: #10147C;
    border-radius: 36px;
    font-weight: bold;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 18px;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    transition: all ease 0.3s;
}

.main_page_product_list_footer_btn:focus {
    outline: none;
}

.main_page_product_list_footer_btn:not(.disabled):hover {
    cursor: pointer;
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
    transform: scale(1.1);
}

.main_page_product_list_footer_btn:not(.disabled):active {
    background: #3ACA85;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.main_page_product_list_footer_btn.disabled {
    background: #CCCCCC;
    box-shadow: none;
}

.main_page_product_list_footer {
    margin: 50px 0;
}

.main_page_product_list_footer_btn.disabled:hover {
    cursor: not-allowed;
}

.main_admin_settings_container {
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 90px;
}

.main_admin_settings_item {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    width: 100%;
}

.main_admin_settings_item > img {
    border-radius: 10px 0 0 10px;
}

.main_admin_settings_item_info {
    margin-left: 60px;
    margin-top: 60px;
}

.main_admin_settings_item_info_title {
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-bottom: 0;
}

.main_admin_settings_item_info_text {
    font-size: 20px;
    color: #000;
    max-width: 844px;
    margin-bottom: 0;
}

.main_admin_settings_item_delete_account {
    border: 2px solid #10147C;
    box-sizing: border-box;
    filter: drop-shadow(0px 20px 40px rgba(68, 237, 156, 0.2));
    border-radius: 36px;
    padding: 20px 40px;
    color: #10147C;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    transition: all ease 0.3s;
}

.main_admin_settings_item_delete_account:focus {
    outline: none;
}

.main_admin_settings_item_delete_account:hover {
    transform: scale(1.1);
}

.main_admin_settings_item_delete_account:active {
    background: #3ACA85;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.main_admin_settings_item_info_button {
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 40px;
    transition: all ease 0.3s;
}

.main_admin_settings_item_info_button:hover {
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
    border-radius: 36px;
    transform: scale(1.1);
}

.main_admin_settings_item_info_button:focus {
    outline: none;
}

.main_admin_settings_item_info_button:active {
    background: #3ACA85;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
    border-radius: 36px;
}

.main_admin_settings_item_info_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 363px;
    margin: 20px 0;
}

.main_admin_settings_item_info_content > * {
    flex-basis: 100%;
}

.main_admin_settings_item_info_content input {
    background: #F3F3F3;
    border-radius: 25px;
    font-size: 14px;
    border: none;
    padding: 14px 19px;
    width: 363px;
}

.main_admin_settings_item_info_content input:focus {
    outline: none;
}

.main_admin_settings_item_info_content button {
    flex-basis: auto;
    transition: all ease 0.3s;
}

.main_admin_settings_item_info_content_sn_save:focus,
.main_admin_settings_item_info_content_sn_cancel:focus {
    outline: none;
}

.main_admin_settings_item_info_content_sn_save {
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 40px;
    text-transform: uppercase;
}

.main_admin_settings_item_info_content_sn_save:not([disabled]):hover {
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
    transform: scale(1.1);
}

.main_admin_settings_item_info_content_sn_save:not([disabled]):active {
    background: #3ACA85;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.main_admin_settings_item_info_content_sn_save[disabled] {
    background: #CCCCCC;
    opacity: 0.7;
}

.main_admin_settings_item_info_content_sn_save[disabled]:hover {
    cursor: not-allowed;
}

.main_admin_settings_item_info_content_sn_cancel {
    border: 2px solid #10147C;
    box-sizing: border-box;
    filter: drop-shadow(0px 20px 40px rgba(68, 237, 156, 0.2));
    border-radius: 36px;
    color: #10147C;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px 40px;
}

.main_admin_settings_item_info_content_sn_cancel:hover {
    transform: scale(1.1);
}

.main_admin_settings_item_info_content_sn_cancel:active {
    background: #3ACA85;
    box-shadow: 0px 20px 40px rgba(67, 237, 156, 0.4);
}

.main_admin_settings_item_info_content.password input:focus,
.main_admin_settings_item_info_content.email input:focus {
    border: 1px solid #4E22D0;
    background: #F3F3F3;
}

.admin_modal .modal-content {
    background: #FFFFFF;
    border: 1px solid #4E22D0;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(11, 7, 61, 0.1);
    border-radius: 20px;
    padding: 60px 40px;
}

.admin_modal .modal-dialog {
    max-width: 640px;
}

.admin_modal .modal-title {
    color: #10147C;
    font-size: 24px;
    font-weight: bold;
}

.admin_modal .modal-header button {
    margin-top: -10px;
}

.admin_modal .moda-body {
    color: #2A3145;
    font-size: 14px;
}

.admin_modal .modal-footer {
    justify-content: center;
    padding: 0;
}

.admin_modal .modal-footer .delete_account {
    background: #F03836;
    box-shadow: 0px 20px 40px rgba(240, 56, 54, 0.2);
    border-radius: 36px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-top: 40px;
    transition: all ease 0.3s;
}

.admin_modal .modal-footer .delete_account:focus {
    outline: none;
}

.admin_modal .modal-footer .delete_account:hover {
    transform: scale(1.1);
}

.main_admin_questions_items {
    background: #FFFFFF;
    max-width: 100%;
    overflow-y: hidden;
    width: 100%;
}

.main_admin_questions_item {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
    height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    z-index: 9;
}

.main_admin_questions_question {
    color: #10147C;
    font-size: 24px;
    line-height: 29px;
    padding: 35px 60px;
    position: relative;
    z-index: 9;
    background: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: 700;
}

.main_admin_questions_question::after {
    content: "";
    background: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border: 1px solid #4E22D0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
}

.main_admin_questions_question:hover {
    color: #10147C;
    font-size: 24px;
    line-height: 29px;
    padding: 35px 60px;
    position: relative;
    z-index: 9;
    background: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
}

.main_admin_questions_question:hover::after {
    background-image: url('../images/plushover.png');
    background-color: #4E22D0;
    box-shadow: 0px 20px 30px rgba(78, 34, 208, 0.3);
    transition: all ease 0.3s;
}

.main_admin_questions_question.active {
    box-shadow: 5px 40px 60px rgba(0, 0, 0, 0.05);
}

.main_admin_questions_question.active::after {
    transform: rotate(135deg);
    background-image: url('../images/plushover.png');
    background-color: #4E22D0;
    box-shadow: 15px -20px 30px rgb(78 34 208 / 30%);
}

.main_admin_questions_answer {
    margin: 0;
    padding: 35px 60px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_admin_questions_chapter_header_text {
    background: #10147C;
    box-sizing: border-box;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    padding: 35px 60px;
}

.main_admin_questions_chapter {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 5px 40px 60px rgb(0 0 0 / 15%);
}

.main_admin_questions_container {
    max-width: 1250px;
    margin: auto;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_admin_questions_answer_btn {
    background: #44ED9C;
    box-shadow: 0px 20px 40px rgba(68, 237, 156, 0.2);
    border-radius: 36px;
    color: #10147C;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 20px 40px;
    font-weight: 700;
    width: max-content;
}

/* .marker {
    display: flex;
    align-items: baseline;
} */

.marker::before {
    content: "•";
    margin-right: 10px;
}

.method {
    display: flex;
    gap: 34px;
}

.key_container {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    margin: auto;
    width: 90%;
}

.key_title {
    font-weight: bold;
}

/* End admin pages */

@media (min-width: 1580px) {
    .article_main_section_right .carousel-slider .slider-controls .next, .carousel-slider .slider-controls .next {
        right: -3.5rem;
        top: 3.5rem;
    }

    .article_main_section_right .carousel-slider .slider-controls .prev, .carousel-slider .slider-controls .next {
        right: -3.5rem;
        top: 7.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1599.98px) {
    .hero-left-amoeba .hero-amoeba img {
        width: 100% !important;
    }
}

@keyframes rotate-ring {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media (max-width: 1390px) {
    .blog_articles_menu_item {
        width: 270px;
    }
}

@media (max-width: 1280px) {
    .main_admin {
        display: flex;
        justify-content: center;
    }

    .logged .main_admin {
        flex-wrap: wrap;
    }

    .main_page_menu_items {
        justify-content: center;
    }

    .main_page_menu_item {
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 40%;
    }

    .main_login_container {
        margin: auto;
        flex-direction: column;
        align-items: center;
        width: max-content;
        margin: 20px auto;
        border-radius: 10px;
    }

    .main_login_container_left,
    .main_login_container_right {
        max-width: 100%;
        width: 100%;
    }

    .main_login_container_left  img {
        border-radius: 10px
    }

    .main_login_container_center {
        width: 100%;
        padding: 20px 20px;
    }

    .main_login_container_right {
        padding: 30px 0px;
    }

    .main_login_container_last_line {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin: 20px 0;
    }
}

@media (max-width: 1150px) {
    .buy_main_choose_item {
        width: 302px;
    }
    .blog_articles_items {
        justify-content: space-between;
    }
    .blog_articles_item {
        flex-basis: 45%;
    }

    .blog_articles_menu_items {
        width: 80%;
    }

    .blog_articles_menu_item {
        flex-basis: 49%;
    }
}

@media (max-width: 1090px) {
    .globe-earth {
        width: 321px;
        height: 321px;
    }

    .globe-earth img {
        height: 243px;
        width: 251px;
    }

    .world-security .container .world-security-middle {
        top: 20% !important;
        min-height: 100px;
        position: absolute;
    }

    .info-data.tagline-medium.left {
        top: 6em;
    }

    .info-data.tagline-medium.right {
        top: -6em;
    }

    .product_banner {
        flex-direction: column;
        align-items: center;
    }

    .product_secvices {
        padding: 50px 60px;
    }

    .product_howwork_main_container {
        flex-direction: column;
        gap: 50px;
    }

    .product_howwork_header {
        gap: 20px
    }

    .product_howwork_header_item {
        flex-basis: 48%;
    }

    .product_youdevice {
        flex-direction: column;
        align-items: center;
    }

    .header_first_line_lang {
        position: absolute;
        right: 100px;
        top: 24px;
        z-index: 9;
    }
    .header_first_line_lang_buttons_container {
        width: max-content;
    }

    .main_signup_container {
        flex-direction: column;
        max-width: 350px;
    }

    .main_signup_container_left img {
        width: 100%;
        border-radius: 10px;
    }

    .main_signup_container_right {
        margin: 0;
        padding: 20px;
    }

    .main_signup_container_left,
    .main_signup_container_right {
        width: 100%;
    }

    .main_page_product_list {
        width: 95%;
    }

    .main_page_product_list_container {
        gap: 10px;
    }

    .main_page_product_list_header_item.product,
    .main_page_product_list_container_item.product {
        padding-left: 35px;
    }

    .main_admin_settings_container {
        padding: 30px;
        max-width: 100%;
    }

    .main_admin_settings_item_info {
        margin-left: 40px;
        margin-top: 40px;
    }

    .main_page_product_list_header {
        display: none;
    }

    .main_page_product_list_main {
        gap: 20px;
        margin-top: 25px;
    }

    .main_page_product_list_container_item.devices::before {
        content: "Devices:";
        color: #10147C;
        font-weight: bold;
    }

    .main_page_product_list_container_item.validity::before {
        content: "Validity:";
        color: #10147C;
        font-weight: bold;
    }

    .main_page_product_list_container_item.price::before {
        content: "Price:";
        color: #10147C;
        font-weight: bold;
        font-size: 20px;
        margin-right: 10px;
    }

    .main_page_product_list_container_item.price {
        align-items: center;
    }

    .main_page_product_list_container {
        align-items: flex-start;
        height: max-content;
        flex-direction: column;
    }
}

@media (max-width: 910px) {
    .laureats {
        flex-direction: column;
        gap: 70px;
    }

    .laureats_left {
        justify-content: center;
    }

    .laureats_right {
        justify-content: space-around;
    }

    .product_faq_question span {
        max-width: 80%;
    }

    .product_faq_question {
        padding-top: 30px;
    }

    .product_howwork_header_item {
        flex-basis: 100%;
    }

    .product_howwork_main {
        padding: 60px 31px;
    }

    .product_howwork_main_container_right img {
        width: 100%;
    }

    .product_slider_privacy_head {
        flex-wrap: wrap;
        gap: 30px;
    }

    .main_blog_banner_text {
        width: 80%;
    }

    .blog_articles_items {
        padding: 0 50px;
    }

    .main_page_product_list_container {
        width: 95%;
        height: max-content;
    }

    .main_page_product_list_container_item.validity {
        overflow-wrap: break-word;
    }

    .main_page_product_list_header_item.validity,
    .main_page_product_list_container_item.validity {
        flex-basis: 25%;
    }

    .product_list_item_name {
        margin: 15px 0;
    }
}

@media (max-width: 800px) {

    .article_main_section {
        flex-direction: column;
        align-items: center;
    }

    .article_main_section {
        margin-left: 0px;
    }

    .article_main_section_right {
        max-width: 70%;
    }

    .article_main_section_right .carousel-slider .tns-nav {
        /* display: block; */
    }

    .article_main_section_author {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .main_page_menu_item {
        flex-basis: 45%;
    }

}

@media (max-width: 700px) {
    .product_secvices_item {
        width: 100%;
    }

    .products_rewiews_line.owl-carousel .owl-nav button {
        width: 70px;
        height: 70px;
    }

    .product_howwork {
        padding: 0 52px;
    }

    .product_banner_left img {
        width: 100%;
    }

    .product_youdevice {
        padding: 62px;
    }

    .product_youdevice_right img {
        width: 100%;
    }

    .laureats {
        padding: 100px 60px;
    }

    .laureats_left img {
        width: 100%;
    }

    .product_comeon_text {
        font-size: 30px;
        padding: 30px;
    }

    .product_faq_question {
        font-size: 15px;
    }

    .product_howwork_header {
        padding: 60px 42px;
    }

    .product_howwork_main_container {
        padding: 0px;
    }

    .confirm_popup_container {
        max-width: 538px;
    }

    .confirm_popup_container_billing_inputs input,
    .confirm_popup_container_cart input {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .blog_articles_items {
        justify-content: center;
    }

    .blog_articles_item {
        flex-basis: 90%;
    }

    .article_thumb {
        padding: 0 50px;
    }

    .article_breadcrumbs {
        padding: 0 50px;
    }

    .article_breadcrumbs_items {
        flex-wrap: wrap;
    }

    .article_main_citation {
        margin-left: 10px;
    }

    .article_thumb_title {
        font-size: 35px;
    }

    .article_main .article_main_section_title{
        font-size: 35px;
    }

    .article_main_list {
        padding-left: 0;
    }

    .article_main_lasttag {
        margin-bottom: 30px;
    }

    .article_main_section_right_title {
        max-width: 261px;
    }

    .main_admin_settings_item > img {
        display: none;
    }

    .main_admin_settings_item_info {
        margin: 40px;
    }

    .main_admin_settings_item_info_content {
        margin-bottom: 0;
    }

    .admin_modal .modal-dialog {
        max-width: 100%;
        margin: 0 20px;
    }

    .main_admin_settings_item_info_text {
        overflow-wrap: anywhere;
    }

    .main_page_first_line_title {
        text-align: center;
    }
}

@media (max-width: 560px) {
    .blog_articles_menu_item {
        flex-basis: 100%;
    }
    .blog_articles_menu_item + .blog_articles_menu_item {
        border-left: 0;
    }

    .main_page_menu_items {
        flex-direction: column;
        align-items: center;
    }

    .main_page_menu_item {
        flex-basis: 90%;
        width: 90%;
        flex-direction: row;
    }

    .main_page_product_list_header_item.devices,
    .main_page_product_list_container_item.devices,
    .main_page_product_list_header_item.validity,
    .main_page_product_list_container_item.validity {
        /* display: none; */
        overflow-wrap: anywhere;
    }

    .main_page_product_list_header_item.devices, .main_page_product_list_container_item.devices {
        text-align: start;
    }

    .main_page_product_list {
        padding: 0 15px 15px 15px;
    }

    .main_page_product_list_main {
        margin-top: 0;
    }

    .main_page_product_list_header_item.product,
    .main_page_product_list_container_item.product,
    .main_page_product_list_header_item.price,
    .main_page_product_list_container_item.price {
        flex-basis: 49%;
        /* width: 49%; */
    }

    .main_page_product_list_header_item.price,
    .main_page_product_list_container_item.price {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 500px) {

    .world-security .container .world-security-middle {
        top: 24% !important;
    }

    .info-data.tagline-medium.left {
        top: 11em;
    }

    .info-data.tagline-medium.right {
        top: -14em;
    }

    .hero-left-amoeba .hero-amoeba img {
        width: inherit;
        min-width: inherit;
    }

    .world-security .container .world-security-middle {
        top: 22% !important;
    }

    .globe-earth img {
        right: 7px;
    }

    .laureats_item_title {
        font-size: 23.6207px;
    }

    .laureats_item_year {
        font-size: 26.6207px;
    }

    .product_comeon_text {
        line-height: 60px;
    }

    .product_faq_container {
        width: 95%;
    }

    .product_howwork {
        padding: 0 20px;
    }

    .product_howwork_main_list_item::before {
        /* background-size: 100% 100%; */
        width: 40px;
        margin-right: 10px;
    }

    .product_howwork_header {
        padding: 20px
    }

    .product_youdevice {
        padding: 62px 30px;
    }

    .product_slider_privacy_head {
        padding: 0 20px
    }

    .products_rewiew {
        padding: 20px;
    }

    .product_faq_question {
        padding: 35px 25px;
        padding-top: 30px;
    }

    .confirm_popup_container_cart {
        padding: 0 40px 40px 40px;
    }

    .confirm_popup_container_billing {
        padding: 0 40px 0 40px;
    }

    .confirm_popup_container_firstline {
        padding: 0 40px 0 40px;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px;
    }

    .main_page_product_empty {
        width: 90%;
    }

    .main_admin_settings_item_info {
        margin: 20px;
    }

    .main_admin_settings_item_info_content input {
        width: 260px;
    }

    .main_admin_settings_item_info_content_sn_save {
        font-size: 15px;
        padding: 10px 20px;
    }

    .main_admin_settings_item_info_content_sn_cancel {
        font-size: 13px;
        padding: 6px 14px;
    }

    .main_admin_settings_item_info_button {
        padding: 10px 20px;
        font-size: 15px;
    }

    .admin_modal .modal-content {
        padding: 20px 20px;
    }

    .main_admin_questions_question::after {
        padding: 14px;
    }

    .main_admin_questions_question {
        font-size: 18px;
    }

    .main_admin_questions_question > span {
        width: 95%;
    }

    .main_admin_questions_question:hover {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .products_rewiews_line.owl-carousel .owl-nav {
        flex-direction: row;
        top: auto;
    }

    .main_page_menu_item {
        justify-content: center;
    }

    .main_page_menu_item {
        flex-direction: column;
    }

    .buy_main_choose_available {
        flex-wrap: wrap;
    }

    .buy_main_choose_available span {
        width: 100%;
        display: block;
        text-align: center;
    }

    .blog_articles_items {
        padding: 0px 20px;
    }

    .header_first_line_lang {
        right: 120px;
    }

    .logged .header-line {
        flex-direction: column;
    }

    .logged .header-line .header-line_user {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main_page_first_line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_page_first_line_text {
        text-align: center;
    }
}

@media (max-width: 370px) {

    .world-security .container .world-security-middle {
        top: 27% !important;
    }

}
